@tailwind base;

@tailwind components;

@tailwind utilities;

.LightWaves {
    animation: lightwaves 2s infinite;
    position: relative;
}

@keyframes lightwaves {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(5px, 5px);
        transform: scale(1.05);
    }

    50% {
        transform: translate(25px, 5px);
    }

    75% {
        transform: translate(12px, 10px);
        transform: scale(1.05);
    }
}

.DarkWaves {
    animation: darkwaves 3.8s infinite;
}

@keyframes darkwaves {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(25px, 5px);
        transform: scale(1.05);
    }

    50% {
        transform: translate(12px, 10px);
    }

    75% {
        transform: translate(5px, 5px);
    }
}

.WhiteWaves {
    animation: whitewaves 4s alternate ease infinite;
}

@keyframes whitewaves {
    0% {
        transform: translate(0, 25px);
    }

    100% {
        transform: translate(25px, 35px);
    }
}

.-z-10 {
    z-index: -10;
}

.sea {
    top: -130%;
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

@-webkit-keyframes moveplus {
    0% {
        margin-top: 1px;
        opacity: 100%;
    }

    100% {
        margin-top: -150px;
        opacity: 0%;
    }
}

@-moz-keyframes moveplus {
    0% {
        margin-top: 1px;
        opacity: 100%;
    }

    100% {
        margin-top: -150px;
        opacity: 0%;
    }
}

@-o-keyframes moveplus {
    0% {
        margin-top: 1px;
        opacity: 100%;
    }

    100% {
        margin-top: -150px;
        opacity: 0%;
    }
}

@keyframes moveplus {
    0% {
        margin-top: 1px;
        opacity: 100%;
    }

    100% {
        margin-top: -150px;
        opacity: 0%;
    }
}

#plus1 {
    left: 55%;
    top: 35%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus2 {
    left: 50%;
    top: 34%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus3 {
    left: 45%;
    top: 38%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus4 {
    left: 40%;
    top: 40%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus5 {
    left: 35%;
    top: 32%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus1:hover {
    cursor: pointer;
    pointer-events: none;
}

#plus2:hover {
    cursor: pointer;
    pointer-events: none;
}

#plus3:hover {
    cursor: pointer;
    pointer-events: none;

}

#plus4:hover {
    cursor: pointer;
    pointer-events: none;

}

#plus5:hover {
    cursor: pointer;
    pointer-events: none;
}

.btn {
    @apply rounded px-2 py-2 font-semibold;
}

.btn-blue {
    @apply bg-australiandarkblue text-australianwhite;
}

.btn-yellow {
    @apply bg-yellow-500 text-australianwhite;
}

.btn-border {
    @apply border border-white border-2;
}

.bg-australianblue {
    background-color: #1831a2;
}

.bg-australiandarkblue {
    background-color: #10216d;
}

.bg-australianwhite {
    background-color: #e8e8e8;
}

.border-australiandarkblue {
    border-color: #10216d;
}

.text-australiandarkblue {
    color: #10216d;
}

.border-australianwhite {
    border-color: #e8e8e8;
}

.border-onlybottom {
    @apply border-t-0 border-r-0 border-l-0;
}

.text-australianwhite {
    color: #e8e8e8;
}

.bg-darkstyle {
    background-color: rgb(51, 51, 51);
}

#donatebrand {
    top: 2%;
    left: 80%;
}

.australiaSize {
    transform: scale(2);
}

.scrollable {
    overflow-y: scroll;
}

.text-shadow {
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

#multiplierBucket:disabled,
#multiplierFirefighter:disabled,
#multiplierAircraft:disabled,
#multiplierKoala:disabled,
#multiplierZoo:disabled,
#multiplierFunds:disabled,
#multiplierRain:disabled,
#multiplierHouse:disabled,
#multiplierTree:disabled,
#multiplierAnimals:disabled,
#multiplierInternational:disabled,
#multiplierDivine:disabled,
#multiplierAlien:disabled,
#autoClicker:disabled {
    background-color: gray;
}

#displayRandomMap {
    position: relative;
}

.theBucket,
.fireman,
.plane,
.hospital,
.zoo,
.collectMoney,
.raining,
.homes,
.trees,
.animals,
.mondials,
.gods,
.aliens {
    position: absolute;
    pointer-events: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border: 1px solid white;
    border-radius: 6px;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    pointer-events: none;
}

.tooltip-right {
    top: 5px;
    left: 70%;
}

.tooltip-right::after {
    z-index: 9999;
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip-bottom {
    top: 70%;
    left: 115%;
    margin-left: -60px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
}

.cross {
    top: 14%;
    right: 15%;
}
.fire {
    position: absolute;
    pointer-events: none;
    height: 40px;
    width: 35px;
}

.firefire0 {
    top: 30px;
    left: 50px;
}

.firefire1{
    top: 140px;
    left: 20px;
}

.firefire2 {
    top: 80px;
    left: 200px;
}
 .firefire3 {
    top: 220px;
    left: 195px;
 }

 .firefire4 {
    top: 180px;
    left: 195px;
 }

 .firefire5 {
    top: 100px;
    left: 95px;
 }

 .firefire6 {
    top: 10px;
    left: 125px;
 }