@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    overflow-y: hidden;
}

@-webkit-keyframes moveplus {
    0% {
        margin-top: 1px;
        opacity: 100%;
    }

    100% {
        margin-top: -150px;
        opacity: 0%;
    }
}

@-moz-keyframes moveplus {
    0% {
        margin-top: 1px;
        opacity: 100%;
    }

    100% {
        margin-top: -150px;
        opacity: 0%;
    }
}

@-o-keyframes moveplus {
    0% {
        margin-top: 1px;
        opacity: 100%;
    }

    100% {
        margin-top: -150px;
        opacity: 0%;
    }
}

@keyframes moveplus {
    0% {
        margin-top: 1px;
        opacity: 100%;
    }

    100% {
        margin-top: -150px;
        opacity: 0%;
    }
}

#plus1 {
    left: 55%;
    top: 35%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus2 {
    left: 50%;
    top: 34%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus3 {
    left: 45%;
    top: 38%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus4 {
    left: 40%;
    top: 40%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus5 {
    left: 35%;
    top: 32%;
    -webkit-animation: moveplus 0.8s linear infinite;
    -moz-animation: moveplus 0.8s linear infinite;
    -o-animation: moveplus 0.8s linear infinite;
    animation: moveplus 0.8s linear infinite;
    pointer-events: none;
}

#plus1:hover {
    cursor: pointer;
    pointer-events: none;
}

#plus2:hover {
    cursor: pointer;
    pointer-events: none;
}

#plus3:hover {
    cursor: pointer;
    pointer-events: none;

}

#plus4:hover {
    cursor: pointer;
    pointer-events: none;

}

#plus5:hover {
    cursor: pointer;
    pointer-events: none;
}

.btn {
    @apply rounded px-2 py-2 font-semibold;
}

.btn-blue {
    @apply bg-australiandarkblue text-australianwhite;
}

.btn-border {
    @apply border border-white border-2;
}

.bg-australianblue {
    background-color: #1831a2;
}

.bg-australiandarkblue {
    background-color: #10216d;
}

.bg-australianwhite {
    background-color: #e8e8e8;
}

.border-australiandarkblue {
    border-color: #10216d;
}

.text-australiandarkblue {
    color: #10216d;
}

.border-australianwhite {
    border-color: #e8e8e8;
}

.border-onlybottom {
    @apply border-t-0 border-r-0 border-l-0;
}

.text-australianwhite {
    color: #e8e8e8;
}

.bg-darkstyle {
    background-color: rgb(51, 51, 51);
}

#donatebrand {
    top: 2%;
    left: 80%;
}

.scrollable {
    overflow-y: scroll;
}

#multiplierBucket:disabled,
#multiplierFirefighter:disabled,
#multiplierAircraft:disabled,
#multiplierKoala:disabled,
#multiplierZoo:disabled,
#multiplierFunds:disabled,
#multiplierRain:disabled,
#multiplierHouse:disabled,
#multiplierTree:disabled,
#multiplierAnimals:disabled,
#multiplierInternational:disabled,
#multiplierDivine:disabled,
#multiplierAlien:disabled {
    background-color: gray;
}